<?xml version="1.0"?>
<!-- 
/**
 * Webkul Software
 *
 * @category    Webkul
 * @package     Webkul_AjaxContactForm
 * @author      Webkul
 * @copyright   Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license     https://store.webkul.com/license.html
 */ -->
     <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
        <default>
            <ajaxcontactform>
                <general>
                    <map_status>2</map_status>
                    <contactus_email>ajaxcontactform_general_contactus_email</contactus_email>
                </general>
            </ajaxcontactform>
        </default>
    </config>